# Git ignore file poop

.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
./transcriptomics/mydata
#adds directory to gitignore because its a lot of data 
#and we want it to not go to github because its secret
